.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

.form-title {
    margin: 1rem 0;
}

.form-content {
    width: 50%;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin: 1rem 0;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
