.container {
    margin-top: 1rem;
}

.order-list-header {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 2rem;
}

.order-list-header-actions {

    button {
        margin-right: 20rem;
    }

    .search-input {
        line-height: 2rem;
        padding-left: 1rem;
    }
}

.order-list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.order-card {
    margin: 1rem;
    min-width: 20rem;
}

.order-card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.order-field {
    display: flex;
    justify-content: space-between;
}

.order-field-label {
    font-weight: bold;
    padding-right: 1rem;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
}
