<div class="container">
    <mat-toolbar>
        <button mat-icon-button class="menu-order-pizza" aria-label="toolbar-order-pizza">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <div class="header-actions" *ngIf="isLogoutButtonVisible$ | async">
            <button
                mat-raised-button
                color="primary"
                (click)="onCreateOrder()">
                Create Order
            </button>

            <button
                mat-raised-button
                color="primary"
                (click)="onClick()">
                    Logout
            </button>
        </div>
    </mat-toolbar>
</div>
