.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid gainsboro;
}

app-header {
    width: 100%;
}

.main {
    height: 80vh;
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}
