.container {
    width: 100%;
    height: 100%;
}

.order-field {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.order-field-label {
    font-weight: bold;
    padding-right: 1rem;
}
